 *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
    }

                .frontpage{
    padding-top: 100px;
    background: url("https://github.com/kuko798/KobeUko/blob/main/ColorStack%20Headshots3801.JPG?raw=true");
    align-items: center;
    overflow: hidden;

    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    width: 100%;
    display: flexbox;
    background-attachment: fixed;
    align-items: center;
    overflow: hidden;

    

}
        
.frontpage h1{
    font-size: 60px;
	color: #fff;
	padding-top: 150px;
	margin-left: 30px;
    text-align: center;
}


@media (max-width: 768px) {
    .frontpage {
        
    
        background-attachment: scroll; 
        
	    
    }

  }